<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.gov.sp.educacao.sed.mobile" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Toolbar" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FrequenciaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FrequenciaLancamentoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FrequenciaConsultaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AvaliacaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AvaliacaoConsultaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AvaliacaoLancamentoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistroAulasActivity"
            android:label="@string/title_activity_registro_aulas"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name=".AndroidDatabaseManager"
            android:theme="@style/Theme.AppCompat.Light" />

        <receiver android:name=".Util.NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <!--
         Register AnalyticsReceiver and AnalyticsService to support background
         dispatching on non-Google Play devices.
        -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />
        <service android:name="br.gov.sp.educacao.sed.mobile.Action.UpdateDBService" />
    </application>

</manifest>
